body {
  background-color: gray;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/003/original/191-1910568_black-heart.jpg?1707189674");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
.form-container {
  background-color: rgb(170 170 170 / 26%);
  margin-bottom: 35px;
  padding: 15px 20px;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.5);
  border-radius: 10px;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.9;
  font-size: 12px;
}
.hidden {
  display: none;
}
.instruction {
  padding: 13px;
  border: 1.5px solid rgba(0, 0, 0, 0.589);
  width: 80%;
  font-size: 14px;
  border-radius: 50px;
  line-height: 20px;
}

header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  color: rgb(244 244 244);
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

form {
  display: flex;
}
.heart-btn {
  margin-left: 10px;
  font-size: 14px;
  width: 140px;
  background-color: rgb(62, 11, 11);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 15px;
  background-color: rgb(5 1 1 / 24%);
  color: #dfdfdf;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.4);
  padding: 20px;
  line-height: 23px;
  border-left: 3px solid rgb(62, 11, 11);
}

.poem strong {
  color: rgb(62, 11, 11);
}

footer {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-size: 13px;
}

a {
  color: rgb(195, 167, 167);
  text-decoration: solid;
}
